<script setup lang="ts">
import { type Product } from '@/types/Product'

import ProductList from '@/components/ProductList.vue';

const products:Product[] = [
    {
        id: 1,
        name: 'ลาเต้ ร้อน',
        price: 35.00,
        type: 1
    }, {
        id: 2,
        name: 'ลาเต้ เย็น',
        price: 30.00,
        type: 1
    }, {
        id: 3,
        name: 'กาแฟ ร้อน',
        price: 35.00,
        type: 1
    }, {
        id: 4,
        name: 'เอสเปรสโซ่ เย็น',
        price: 30.00,
        type: 1
    }, {
        id: 5,
        name: 'เอสเปรสโซ่ ร้อน',
        price: 60.00,
        type: 1
    }, {
        id: 6,
        name: 'คาปูชิโน่ ร้อน',
        price: 60.00,
        type: 1
    }, {
        id: 7,
        name: 'ม็อคค่า เย็น',
        price: 55.00,
        type: 1
    }, {
        id: 8,
        name: 'ชาเขียว เย็น',
        price: 40.00,
        type: 1
    }, {
        id: 9,
        name: 'ชา เย็น',
        price: 30.00,
        type: 1
    }]

</script>
<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" style="background-color: blue;">
                <v-container style="padding: 0;">
                    <v-row>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="300" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="100" elevation="6"></v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6"></v-sheet>
                        </v-col>
                    </v-row>
                    
                </v-container></v-col>
            <v-col cols="12" md="6" style="background-color: red;">
                <v-sheet min-width="300" max-width="600" height="600" elevation="6">
                    <ProductList :products="products"></ProductList>
                </v-sheet>
            </v-col>
        </v-row>
        
    </v-container>
</template>
